config/conf
config/conf.exe
config/a.exe
config/lex.backup
config/lex.zconf.c
config/lkc_defs.h
config/gconf
config/gconf.exe
config/mconf
config/mconf.exe
config/zconf.hash.c
config/zconf.output
config/zconf.tab.c
config/zconf.tab.h
tests/master.exp
tests/adk.exp
prereq.mk
toolchain_build_*/
.ADK_HAVE_DOT_CONFIG
.tmpconfig.h
.prereq_done
.config*
.busyboxcfg
.rebuild.*
.defconfig
all.config
.cfg_*/
target_*/
host_*/
pkg_*/
root_*/
bin/
build_*/
config/*.o
config/lxdialog/*.o
make.log
dl/
package/Config.in.auto*
package/pkgconfigs.d/
package/*/info.mk
package/*/Config.in
package/*/Config.in.lib
package/*/Config.in.kmod
tools_build/
extra/
.menu
target/*/Config.in.systems
target/*/sys-enabled
target/packages/pkg-enabled
target/packages/Config.in
target/config/Config.in.system.default
target/config/Config.in.system
target/config/Config.in.native
