/adk/config/*.o
/adk/config/lxdialog/*.o
/adk/config/conf
/adk/config/conf.exe
/adk/config/a.exe
/adk/config/lex.backup
/adk/config/lex.zconf.c
/adk/config/lkc_defs.h
/adk/config/gconf
/adk/config/gconf.exe
/adk/config/mconf
/adk/config/mconf.exe
/adk/config/zconf.hash.c
/adk/config/zconf.output
/adk/config/zconf.tab.c
/adk/config/zconf.tab.h
/adk/tools/pkgmaker
/adk/tools/depmaker
/adk/tools/pkgrebuild
/adk/tools/depmaker.dSYM/
/adk/tools/pkgmaker.dSYM/
/adk/tools/pkgrebuild.dSYM/
/adk/tests/master.exp
/adk/tests/adk.exp
/adk/tests/adk.exp.in.tmp
/prereq.mk
/toolchain_*/
/.ADK_HAVE_DOT_CONFIG
/.tmpconfig.h
/.prereq_done
/.config*
/.busyboxcfg
/.rebuild.*
/.defconfig
/.adkinit
/all.config
/target_*/
/host_*/
/pkg_*/
/root_*/
/firmware/
/build_*/
/make.log
/dl
/package/Config.in.auto*
/package/pkgconfigs.d/
/package/*/Config.in
/package/*/Config.in.lib
/package/*/Config.in.kmod
/extra/
/.menu
/.adkinit
/target/*/Config.in.systems
/target/*/sys-enabled
/target/packages/pkg-enabled
/target/packages/Config.in
/target/config/Config.in.system.default
/target/config/Config.in.system
/target/config/Config.in.scripts
/target/config/Config.in.native
/target/config/Config.in.arch
/target/config/Config.in.prereq
/target/m68k/aranym.cfg
