[Unit]
Description=Dropbear SSH daemon
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/default/dropbear
ExecStart=/usr/sbin/dropbear -F -R $DROPBEAR_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
